.chat {
    display: flex;
    flex-direction: column;
    flex:1;
    background-color: #363a3f;
    height: 100vh;
}

.chat__input {
    color: lightgray;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    background-color: #474b53;
}

.chat__input > form > input {
    padding: 15px;
    background: transparent;
    border: none;
    outline-width: 0;
    color: white;
    font-size: large;
    width: 100%;
}

.chat__input > form {
    flex: 1;
}

.chat__input .chat__button {
    display: none;
}

.chat__inputIcons > .chat__Icons {
    color: white;
}

.chat__input > .chat__circleIcon {
    color: white;
}

.chat__inputIcons > .chat__Icons .chat__giftIcon {
    color: slategray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    background-color: white;
}

.chat__messages {
    flex: 1;
}